@use '../../mayecreate-theme-22/scss/vars';
@use 'child_vars';

#footer_nav_top {
    display: none;
}
ul.social {
    text-align: center;
}
ul.social li a:link, ul.social li a:visited {
    color: vars.$footer_link_color;
}
ul.social li a:hover, ul.social li a:active {
    color: vars.$footer_link_hover_color;
}
h1, h1.entry-title {
    text-align: center;
    margin-bottom: 20px;
}
h2, .h2 {
    text-align: center;
}
.wide_container {
    max-width: 95%;
    width: 95%;
    margin: 0 auto; 
}
.home .pagebreak_fix:first-child {
    padding-top: 40px;
}
.pagebreak_wide_white, .pagebreak_left {
    background: vars.$white;
    border-top: 2px solid child_vars.$another_grey;
    border-bottom: 2px solid child_vars.$another_grey;
}
.pagebreak.shortcode_pb .pagebreak_left_img, .pagebreak.shortcode_pb .pagebreak_right_img {
    background-position: bottom right !important;
    background-size: cover !important;
}
.fancy_divider {
    width: 100%;
    display: block;
    height: 20px;
    background: url(../img/fancy_divider.jpg) 0 0 repeat;
    clear: both;
    margin: 40px 0;
} 
.short_divider {
    clear: both;
    border-bottom: 2px solid child_vars.$another_grey;
    margin: 30px 0;
    max-width: 345px; 
}
.form-policy-divider {
    margin: 2px 0 20px 0;
}
/* HEADER FOOTER
=================================== */
#navbarTop {
    display: block;
}
#top_nav {
    display: none;
}
.search_container {
    padding: 10px 0;
    margin: 0 !important;
    background: vars.$secondary_color;
    font-family:vars.$main_font;
}
#searchform_header {
   display: block;
    width: 100%;
    margin: 0 auto !important;
    font-family:vars.$main_font;
    padding: 5px !important;
    border: 1px solid vars.$secondary_color;
    border-radius: 0px;
	background: #fff;
}
#searchform_header input:first-child {
    display: block;
    width: 100%;
    padding: 4px 12px;
    border: 0 none;
    outline: none;
    font-family:vars.$main_font;
	margin: 0;
	font-size: 20px;
	font-size: 2.0rem;
	border-radius: 0;
	border: 0 none;
	box-shadow: none;
	outline: none;
}
.affix #navbarBottom #main_nav ul li .fa-search {
	display: none;
}
.btn-mayecreate, a.btn-mayecreate:link, a.btn-mayecreate:visited, .wp-block-button a:link, .wp-block-button a:visited {
    font-weight: 600;
}
.btn-mayecreate.large, a.btn-mayecreate.large:link, a.btn-mayecreate.large:visited, .wp-block-button.large a:link, .wp-block-button.large a:visited {
    background-image: url(../img/big_button.png);
    background-position: left center;
    background-size: auto;
    padding-left: 70px;
}
#back_top_the_top {
	display: none;
}
.pagehead {
    margin-bottom: 0;
}
.page-header {
    padding-top: 40px;
}
.yellow-bar {
    display: block;
    background: url(../img/yellow-border.jpg) top center no-repeat;
    background-size: cover;
    padding: 30px 0;
	font-size: 25px;
	font-size: 2.5rem;
	text-align: center;
	color: #000;
	line-height: 120%;
}
.yellow-bar span {
    font-weight: 400 !important;
}
.sub_searchbar {
    display: block;
    background: url(../img/border-black.jpg) top center no-repeat;
    background-size: cover;
    padding: 15px 0;
}
#sub_nav ul {
	margin: 0;
	padding: 0;
    text-align: center;
}
#sub_nav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
#sub_nav ul li a:link, #sub_nav ul li a:visited {
	display: inline-block; 
	color: vars.$white;
	font-weight: 700;
	font-size: 20px;
	font-size: 2rem;
	text-transform: none;
	margin-right: 0;
    margin-bottom: 9px;
	padding: 2px 15px;
	border-right:1px solid vars.$white;
}
#sub_nav ul li:last-child a {
	border: 0 none;
}
#sub_nav ul li a:hover, #sub_nav ul li a:active, #sub_nav ul li a:focus {
	color: child_vars.$another_grey;
}
/* COLLAPSEOMATIC
==========================================  */
.collapseomatic {
	background: vars.$additional_theme_color_1;
	color: vars.$black;
	border-radius: 0;
	border:0 none;
	display: table;
	padding: 14px 30px;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 600;
	margin:0 auto 20px auto;
	text-align: center;
	text-decoration: none;
}
.colomat-hover {
	background:vars.$secondary_color;
	text-decoration:none;
    color: vars.$white;
}
.colomat-close {
	background: vars.$secondary_color;
	text-decoration:none;
}
.collapseomatic_excerpt, .collapseomatic_content {
	border-top: 2px solid vars.$additional_theme_color_2;
	padding: 40px 0;
}
/* COPIED AND MODIFIED CSS FROM OLD THEME
=========================================== */
.home_event_wrapper:link, .home_event_wrapper:visited {
	display: block;
	border: 0 none;
	font-family: vars.$main_font;
	border-left:6px solid transparent;
}
.home_event_wrapper:hover, .home_event_wrapper:active {
	border-left:6px solid vars.$additional_theme_color_1;
}
.home_event_wrapper .home_event_date {
	background: vars.$black;
	border:3px solid vars.$black;
	padding: 10px 20px;
	text-align: center;
	color: vars.$white;
	font-size: 30px;
	font-size: 3rem;
	line-height: 1;
}
.home_event_wrapper:hover .home_event_date {
    color: vars.$black;
	background: none;
	border: 3px solid vars.$additional_theme_color_1;
}
.home_event_wrapper p {
	font-family: vars.$main_font;
	font-size: 25px;
	font-size: 2.5rem;
	color: vars.$black;
}
.home_event_wrapper p:last-child {
	margin-bottom: 0;
}
.home_event_wrapper .home_event_inner {
	padding: 0 25px;
	margin: 25px 0;
	border-left: 6px solid vars.$black;
}
.home_event_wrapper:hover .home_event_inner {
	border-left:6px solid transparent;
}
.home_event_wrapper .event_location {
	/*color: #F2B82C;*/
    word-break: break-all !important;
}
.home_event_wrapper:hover .event_location {
	color: vars.$black;
}
.home_student_wrapper {
	display: block;
	margin-bottom: 15px;
    position: relative;
	margin-top: -1px;
}
.home_student_wrapper img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.student_top_title {
	font-weight: 600;
	color: vars.$white !important; 
	background: vars.$black;
	padding: 5px 10px;
	text-align: center;
	display: block;
	margin: 0;
	font-size: 35px;
	font-size: 3.5rem;
}
.student_top_title.mupa {
	font-size: 30px;
	font-size: 3.0rem;
}
.student_image_wrapper {
	position: relative;
	vertical-align: middle;
	z-index: 3;
}
.student_image_wrapper_inner {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 50% 100%, 0  calc(100% - 25px));
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 50% 100%, 0 calc(100% - 25px));
	position: relative;
	vertical-align: middle;
	z-index: 3;
}
.student_image_wrapper_inner img {
    position: relative;
    z-index: 1;
}
.single .student_image_wrapper {
    padding-top: 50px;
    background:vars.$black;
}
.student_image_wrapper_inner:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(85,85,85,.45);
	opacity: 0;
	z-index: 3;
	transition: all 0.14s ease-in-out;
}
.student_image_wrapper .hover_text {
	position: absolute;
	top: 0;
	bottom: 0;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 35px;
	font-size: 3.5rem;
	font-weight: 700;
	color: vars.$white;
	line-height: 35px;
	height: 35px;
	width: 98%;
	opacity: 0;
	z-index: 4;
	font-family: vars.$main_font;
	transition: all 0.14s ease-in-out;
}
.home_student_wrapper:hover .student_image_wrapper_inner:after, .home_student_wrapper:hover .student_image_wrapper .hover_text {
	opacity: 1;
}
.student_info_wrapper {
	background: vars.$white;
	padding: 50px 10px 10px 10px;
	position: relative;
	z-index: 1;
	-webkit-clip-path: polygon(50% 25px, 100% 0, 100% 100%, 0 100%, 0 0);
	clip-path: polygon(50% 25px, 100% 0, 100% 100%, 0 100%, 0 0);
}
.student_info_wrapper p {
	margin-bottom: 0;
	font-size: 22px;
	font-size: 2.2rem;
	font-weight: 700;
	color: vars.$black;
	text-align: center;
}
.student_degree {
	position: absolute;
	bottom: -40px;
    z-index: 2;
	left: 30px;
    margin: 0;
	color: vars.$black !important;
	font-weight: 700;
	background: vars.$additional_theme_color_1;
	padding: 105px 5px 15px 5px;
}
.page-template-page-inclusive-excellence .student_degree {
	top: 54%;
}
.single_student_wrapper {
	max-width: 325px;
	margin: 0 auto;
	position: relative;
}
.single_student_wrapper .student_degree {
	top: 47%;
	left: 15px;
}
.single_student_wrapper .student_info_wrapper {
	padding: 32px 10px;
	-webkit-clip-path: none;
	clip-path: none; 
}
.staff_column .staff_wrapper .dgs_degree {
    text-align: center;
    font-weight: 700;
}
.staff_image_wrapper, .staff_img_wrapper {
	position: relative;
	z-index:  0;
	display: block;
	margin-bottom: 15px;
}
.staff_img_wrapper {
	border-top: 50px solid vars.$black;
	margin-top: 10px;
}
.staff_image_wrapper:after, .staff_img_wrapper:after {
	position: absolute;
	bottom: -2px;
	z-index: 999;
	content: '';
	width: 101%;
	height: 47px;
	left: -2px;
	background: url(img/staff_img.png) bottom center no-repeat;
	background-size: 100% 100%;
}
.staff_image_wrapper .hover_text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(187,187,187,.75);
	text-align: center;
	padding-top: 20%;
	opacity: 0;
	transition: all 0.14s ease-in-out;
}
.staff_image_wrapper:hover .hover_text {
	opacity: 1;
}
.staff_image_wrapper .hover_text p {
	padding: 0 10px;
	margin: 0;
	font-weight: 400;
	font-size: 19px;
	font-size: 1.9rem;
	color: vars.$black;
	font-family: vars.$header_font;
    word-break: break-all;
}
.staff_image_wrapper .hover_text.mupa p {
	font-size: 17px;
	font-size: 1.7rem;
}
.staff_image_wrapper .hover_text p.staff_phone {
    font-size: 24px;
    font-size: 2.4rem;
}
.staff_image_wrapper .hover_text .hover_button {
	font-size: 30px;
	font-size: 3.0rem;
	background: vars.$additional_theme_color_1;
	font-family: vars.$header_font;
	display: table;
	padding: 20px 30px;
	margin: 10px auto 0 auto;
	color: vars.$black;
}
.staff_info_wrapper {
	text-align: center;
}
.staff_info_wrapper .staff_title {
	font-weight: 700;
	font-family: vars.$main_font;
	font-size: 30px;
	font-size: 3.0rem;
	margin: 0 0 10px 0;
}
.staff_info_wrapper .staff_department {
	font-weight: 700;
	font-family: vars.$main_font;
	font-size: 30px;
	font-size: 3.0rem;
	margin: 0 0 10px 0;
}
.staff_info_wrapper .staff_department {
	font-weight: 400;
	font-family: vars.$main_font;
	font-size: 20px;
	font-size: 2.0rem;
	margin: 0;
}
.staff_wrapper_2020 {
    display: block;
    margin: 0 auto 20px auto;
    cursor: pointer;
}
.staff_wrapper_2020.collapseomatic {
    background: none !important;
}
.staff_wrapper_2020 .staff_img_info_wrapper {
    margin: 0 auto 10px auto;
    padding: 10px;
    text-align: center;
}
.staff_image_wrapper_2020 {
    border: 1px solid vars.$additional_theme_color_3;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 10px auto;
    max-width: 250px;
    overflow: hidden;
}
.staff_image_wrapper_2020 .hover_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    color: #030303;
    width: 80%;
    height: 43px;
    font-weight: 700;
    margin: auto;
    background: vars.$additional_theme_color_1;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    z-index: 3;
    opacity: 0;
    transition: all 0.14s ease-in-out;
}
.staff_wrapper_2020:hover .staff_image_wrapper_2020 .hover_text {
    opacity: 1;
}
.staff_image_wrapper_2020 img {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.staff_image_wrapper_2020:after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(71,71,71,.68);
    opacity: 0;
    z-index: 2;
    transition: all 0.14s ease-in-out;
}
.staff_wrapper_2020:hover .staff_image_wrapper_2020:after {
    opacity: 1;
}
.staff_info_wrapper_2020 h2:after, .staff_info_wrapper_2020 h2:before {
    display: none !important;
}
.staff_wrapper_2020 .staff_info_wrapper_2020 h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: 700;
    color: vars.$black;
}
.staff_wrapper_2020:hover .staff_info_wrapper_2020 h2 {
    color: vars.$additional_theme_color_1;
}
.staff_info_wrapper_2020 .staff_title {
    margin: 0;
    color: vars.$black;
}
.staff_department span:last-child span {
	display: none;
}
.staff_wrapper_2020:hover .staff_info_wrapper_2020 .staff_title {
    color: vars.$additional_theme_color_3;
}
.staff_cat_wrapper {
    margin: 0 auto;
    display: block;
    max-width: 95%;
}
.staff_cat_wrapper:link, .staff_cat_wrapper:visited {
    display: block;
    border: 0 none;
    margin: 0 auto 20px auto;
    text-align: center; 
}
.staff_cat_wrapper h2 {
    margin: 0;
    font-weight: 600;
    transition: all 0.14s ease-in-out;
}
.staff_cat_wrapper:hover h2 {
    color: child_vars.$dark_grey;
}
.staff_cat_wrapper h2:after, .staff_cat_wrapper h2:before {
    display: none;
    font-weight: 700;
}
.staff_cat_wrapper .cat_img_icon {
    display: block;
    margin: 0 auto 20px auto;
    width: 250px;
    height: 250px;
    background-color: child_vars.$weird_grey;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65%;
    border-radius: 50%;
    transition: all 0.14s ease-in-out;
}
.staff_cat_wrapper:hover .cat_img_icon {
    background-color: vars.$additional_theme_color_1;   
}
.staff_indiv_cat_wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
}
.staff_indiv_cat_wrapper .cat_img_icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.staff_wrapper_2020:hover .staff_indiv_cat_wrapper .cat_img_icon {
    background-color: vars.$additional_theme_color_1;
}
.staff_indiv_cat_wrapper_name {
    display: block;
    position: absolute;
    top: -50px;
    left: -65px;
    text-align: center;
    width: 200px;
    padding: 5px;
    background: vars.$black;
    color: vars.$white;
    font-size: 18px;
    font-size: 1.8rem;
    opacity: 0;
    transition: all 0.14s ease-in-out;
}
.staff_indiv_cat_wrapper_name:after {
    display: block;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    position: absolute;
    width: 13px;
    height: 20px;
    background: url(../img/area_after.png) center center no-repeat;
}
.staff_wrapper_2020 .staff_indiv_cat_wrapper:hover .staff_indiv_cat_wrapper_name {
    opacity: 1;
}
.searchandfilter ul {
    margin-left: 0;
}
.searchandfilter ul {
    margin: 0 0 20px 0;
}
.searchandfilter ul li {
    display: block;
    margin: 0 0 10px 0;
    list-style: none;
    padding: 0;
}
.searchandfilter ul li label {
    display: block;
	font-size: 18px;
	font-size: 1.8rem;
}
.searchandfilter ul li select, .searchandfilter ul li input {
    max-width: 100%;
    border: 1px solid vars.$additional_theme_color_3;
    color: vars.$black;
    padding: 8px 15px;
    font-weight: 400;
    width: 100%;
    border-radius: 0px;
}
.searchandfilter ul li .search-filter-reset {
    color: vars.$black;
    background: vars.$additional_theme_color_1;
    border: 0 none;
    padding: 8px 15px;
    font-weight: 400;
    text-transform: uppercase;
    display: table;
    margin: 0 0 10px 0;
    text-decoration: none;
    border-radius: 0px;
}
.searchandfilter ul li .search-filter-reset:hover, .searchandfilter ul li .search-filter-reset:focus {
    background: vars.$black;
    color: vars.$white;
}
.staff_wrapper_2020 .staff_name, .staff_wrapper_2020 .staff_title {
    margin-bottom: 10px !important;
}
.staff_wrapper_2020 .staff_department {
    margin-bottom: 0 !important;
    color: vars.$base_color !important;
}
.single-staff .pagebreak_fix:first-child {
    padding-top: 40px;
}
.single_staff_title_2020 {
    text-align: left;
} 
.staff_img_wrapper_2020 img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 30px;
    border:1px solid child_vars.$light_light_grey;
    background: vars.$white;
    box-shadow:0 3px 6px rgba(0,0,0,.16);
}
.pullleft {
    float: left;
}
.letter_nav_wrapper {
    text-align: left;
}
.letter_nav_wrapper .btn-mayecreate:link, .letter_nav_wrapper .btn-mayecreate:visited {
    padding: 10px;
    display: inline-block;
}
.department_post_wrapper_0 {
    display: none !important;
}
.dgs_info span {
	display: block;
	font-weight: 700;
	text-align: center;
	font-size: 25px;
	font-size: 2.5rem;
	margin-bottom: 5px;
}
.dgs_info a:link, .dgs_info a:visited {
	display: block;
	font-weight: 700;
	text-align: center;
	font-size: 25px;
	font-size: 2.5rem;
}
.dgs_info a span, a.contact_email {
	font-size: 20px;
	font-size:2.0rem;
}
.staff_column .staff_wrapper {
	margin-bottom: 40px;
}
.staff_column .staff_wrapper .student_top_title {
	display: block;
	margin-bottom: 10px;
}
.staff_column .staff_wrapper .dgs_degree {
	text-align: center;
	font-weight: 700;
}
.department_post_wrapper_0 {
	display: none !important;
} 
.department_title_wrapper_0 h3 {
	font-size: 35px;
	font-size: 3.5rem;
	color: vars.$black;
} 
ul.square_list {
	margin: 0 0 20px 28px;
}
ul.square_list li {
	background: none;
	list-style: none;
	padding-left: 0;
	transition: all 0.14s ease-in-out;
}
ul.square_list li a:link, ul.square_list li a:visited {
	background: url(../img/square_ul.png) left center no-repeat;
	background-size: auto 70%;
	padding-left: 25px;
	transition: all 0.14s ease-in-out;
	display: block;
	font-weight: 400;
}
ul.square_list li a:hover, ul.square_list li a:active, ul.square_list li.active a {
	background: url(../img/square_ul_hover.png) left center no-repeat;
	background-size: auto 70%;
} 
ul.square_list li a:link, ul.square_list li a:visited {
	color: vars.$additional_theme_color_4;
}
ul.square_list li:hover a, ul.square_list li.active a {
	color: vars.$additional_theme_color_1;
}
#search-filter-form-2936 ul {
	margin: 0;
}
#search-filter-form-2936 ul li {
	padding: 0;
}
#search-filter-form-2936 ul li.sf-field-taxonomy-degreelocation {
    margin-bottom: 25px;
}
#search-filter-form-2936 h4 {
	display: none;
}
#search-filter-form-2936 .sf-field-post-meta-program_type, #search-filter-form-2936 .sf-field-post-meta-program_location, #search-filter-form-2936 .sf-field-taxonomy-degreecategory {
	clear: both;
	padding: 20px 0;
}
.degree_cat_list a {
	margin: 0 0 20px 0;
	display: block;
	border-bottom: 2px solid vars.$additional_theme_color_2;
	padding:0 0 20px 0;
	clear: both;
}
.degree_cat_list br {
	display: none;
}
.degree_cat_outer_wrapper span:last-child span, .degree_cat_outer_wrapper  .wrapper_a, .degree_cat_outer_wrapper  .wrapper_b, .degree_cat_outer_wrapper  .wrapper_c, .degree_cat_outer_wrapper  .wrapper_d, .degree_cat_outer_wrapper  .wrapper_e, .degree_cat_outer_wrapper  .wrapper_f, .degree_cat_outer_wrapper  .wrapper_g, .degree_cat_outer_wrapper  .wrapper_h, .degree_cat_outer_wrapper  .wrapper_i, .degree_cat_outer_wrapper  .wrapper_j, .degree_cat_outer_wrapper  .wrapper_k, .degree_cat_outer_wrapper  .wrapper_l, .degree_cat_outer_wrapper  .wrapper_m, .degree_cat_outer_wrapper  .wrapper_n, .degree_cat_outer_wrapper  .wrapper_o, .degree_cat_outer_wrapper  .wrapper_p, .degree_cat_outer_wrapper  .wrapper_q, .degree_cat_outer_wrapper  .wrapper_r, .degree_cat_outer_wrapper  .wrapper_s, .degree_cat_outer_wrapper  .wrapper_t, .degree_cat_outer_wrapper  .wrapper_u, .degree_cat_outer_wrapper  .wrapper_v, .degree_cat_outer_wrapper  .wrapper_w, .degree_cat_outer_wrapper  .wrapper_x, .degree_cat_outer_wrapper  .wrapper_y, .degree_cat_outer_wrapper  .wrapper_z {
	display: none;
}
.related_dgs_wrapper p span {
	display: block;
	font-size: 25px;
	font-size: 2.5rem;
	color: vars.$black;
	font-family: vars.$header_font;
	line-height: 120%;
}
.related_dgs_wrapper {
	text-align: center;
}
.related_dgs_inner {
	margin-bottom: 10px;
}
.degree_wrapper_outer .collapse {
    padding-bottom: 40px;
}
.dgs_collapse_content {
	border: 0 none;
}
.degree_location span {
	display: inline-block;
	border-right: 1px solid vars.$additional_theme_color_4;
	border-left: 1px solid vars.$additional_theme_color_4;
	padding: 0 10px;
	margin: 0 -6px 0 0;
}
.degree_cat_list a {
	margin: 0 0 20px 0;
	display: block;
	border-bottom: 2px solid vars.$additional_theme_color_2;
	padding:0 0 20px 0;
	clear: both;
}
.degree_cat_list br {
	display: none;
}
.degree_wrapper .collapseomatic_content table {
    width:auto;
	margin-bottom: 25px !important;
}
.degree_wrapper .collapseomatic_content table thead {
	font-weight: 700;
}
.degree_wrapper .collapseomatic_content table tr {
	border-bottom: 1px solid vars.$additional_theme_color_4;
}
.degree_wrapper .collapseomatic_content table tbody tr:last-child {
	border-bottom: 0;
}
.degree_wrapper .collapseomatic_content table tr td {
	padding: 10px 0 !important;
}
#searchform_alt {	
	text-align: right;
	margin-bottom: 15px !important;
}
#searchform_alt .search_icon {
	display: inline-block;
	width: 41px;
	height: 39px;
	background: url(../img/search_icon_alt.png) center center no-repeat;
	margin-top: -4px;
	margin-bottom: -12px;
}
#searchform_alt .submit {
	background: vars.$button_background_color;
	color: vars.$button_color;
	border: 2px solid vars.$button_background_color;
	padding: 2px 10px;
	border-radius: 0;
	text-shadow: none;
}
#searchform_alt .submit:hover {
	border: 2px solid vars.$button_hover_background_color;
	background: vars.$button_hover_background_color;
	color: vars.$button_hover_color;
}
#searchform_alt .text {
	width: 50%;
	max-width: 240px;
}
#quick_search_sidebar h3 {
	font-size: 30px;
	font-size: 3.0rem;
	font-weight: 600;
}
#quick_search_sidebar .square_list {
	margin: 0 0 20px 0;
}
#quick_search_sidebar .square_list li, #search-filter-form-3337 ul li li {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 5px;
	padding-top: 0;
	padding-bottom: 0
}
.quicksort_title:after, .quicksort_title:before {
	display: none !important;
	text-align: left;
	padding: 0;
}
.quicksort_title {
	background: url(../img/quick_sort_icon.png) 0 8px no-repeat;
	padding: 0 0 0 65px;
	text-align: left;
	vertical-align: baseline;
	background-size: contain;
}
.quicksort_title span {
	font-weight: 400;
	color: vars.$black;
	font-size: 30px;
	font-size: 3rem;
	font-family: vars.$main_font;
}
.post_wrapper img {
    display: block;
    margin: 0 auto 20px auto;
}
.pb_subject:link, .pb_subject:visited {
	display: block;
	text-align: center;
	margin-bottom: 25px;
	text-decoration: none;
	color: child_vars.$dark_grey;
	position: relative;
}
.pb_subject:hover, .pb_subject:active {
	color: vars.$black;
}
.pb_subject .pb_image img {
	display: block;
	margin: 0 auto;
	opacity: 1;
	transition: all 0.14s ease-in-out;
}
.pb_subject .pb_hover_image img {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: all 0.14s ease-in-out;
}
.pb_subject span.pb_text {
	display: block;
	text-align: center;
	padding: 10px 10px;
	margin-top: 10px;
	border-bottom: 2px solid child_vars.$dark_grey;
	border-top:2px solid child_vars.$dark_grey;
	font-weight: 700;
	transition: all 0.14s ease-in-out;
}
.pb_subject:hover span.pb_text {
	border-bottom: 2px solid vars.$additional_theme_color_1;
	border-top:2px solid vars.$additional_theme_color_1;
}
.pb_subject:hover .pb_hover_image img {
	opacity: .25;
}
.pb_subject:hover .pb_image img {
	opacity: 0;
}
.pb_subject {
	position: relative;
}
.pb_subject .hover_text {
	position: absolute;
	top: 0;
	bottom: 0;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 25px;
	height: 60%;
	width: 98%;
	opacity: 0;
	z-index: 2;
	font-family: vars.$main_font;
	transition: all 0.14s ease-in-out;
}
.pb_subject .hover_text .hover_button {
	font-size: 20px;
	font-size: 2.0rem;
	background: vars.$additional_theme_color_1;
	font-family: vars.$header_font;
	display: table;
	padding: 5px 10px;
	margin: 10px auto 0 auto;
	color: vars.$black;
}
.pb_subject:hover .hover_text {
	opacity: 1;
}

.subject_wrapper {
	vertical-align: top;
}
.subject_row .divider {
	display: none;
	clear: none;
}
.pb_subject_title {
	padding-top: 20px;
	font-weight: 700;
	color: child_vars.$dark_grey;
}
.searchandfilter ul {
    margin: 0 0 20px 0;
}
.searchandfilter ul li {
    display: block;
    margin: 0 0 10px 0;
    list-style: none;
    padding: 0;
}
.searchandfilter ul li label {
    display: block;
	font-size: 18px;
	font-size: 1.8rem;
}
.searchandfilter ul li select, .searchandfilter ul li input {
    max-width: 100%;
    border: 1px solid vars.$additional_theme_color_4;
    color: vars.$black;
    padding: 8px 15px;
    font-weight: 400;
    width: 100%;
    border-radius: 0px;
}
.searchandfilter ul li .search-filter-reset {
    color: vars.$black;
    background: vars.$additional_theme_color_1;
    border: 0 none;
    padding: 8px 15px;
    font-weight: 400;
    text-transform: uppercase;
    display: table;
    margin: 0 0 10px 0;
    text-decoration: none;
    border-radius: 0px;
}
.searchandfilter ul li .search-filter-reset:hover, .searchandfilter ul li .search-filter-reset:focus {
    background: vars.$black;
    color: vars.$white;
}
#search-filter-form-3337 h4 {
	font-size: 30px;
	font-size: 3.0rem;
	font-weight: 600;
}
#search-filter-form-3337 input[type=submit] {
	border: 0 none;
	background: vars.$additional_theme_color_1;
	color: vars.$black;
	font-weight: 600;
	padding:14px;
}
#search-filter-form-3337 input[type=submit]:hover, 
#search-filter-form-3337 input[type=submit]:active {
	background: child_vars.$dark_grey;
	color: vars.$white;
}
.blackbox {
	background: url(../img/blackbox.jpg) center center no-repeat;
	background-size: cover;
	padding: 50px 0;
}
.blackbox .container {
	max-width: 1475px;
	width: 98%;
	margin: 0 auto;
}
div#homefeatured {
    margin-bottom: 0;
}
.home_content, .home_content h4, .home_content h5, .home_content h6, .home_content p {
	color: vars.$additional_theme_color_1;
	text-align: center;
	font-size: 20px;
	font-size: 2.0rem;
}
.home_content h2 {
	font-size: 50px;
	font-size: 5rem;
	color: vars.$additional_theme_color_1;
	font-weight: 700;
	margin-bottom: 10px;
	padding: 0;
}
.home_content h3 {
	font-size: 30px;
	font-size: 3rem;
	color: vars.$white;
	font-weight: 400;
	margin-bottom: 10px;
}
/* HOME SLIDER
==========================================  */
div#homefeatured {
	display: block;
	border: 0 none;
}
div#homefeatured .carousel-control, #home_buttons {
	display: none;
}
div#homefeatured .slideDesc {
	display: block; 
    background: linear-gradient(to right,  rgba(244,185,45,.85) 0%, rgba(244,185,45,.85) 50%, rgba(244,185,45,0) 100%);
}
div#homefeatured .slideDesc .slideTitle {
    text-align: left;
    margin-bottom: 0;
    padding: 0;
}
div#homefeatured .slideDesc .slideTitle:after, div#homefeatured .slideDesc .slideTitle:before {
    display: none;
}
div#homefeatured .slideDesc .btn-mayecreate.center, div#homefeatured .slideDesc a.btn-mayecreate.center:link, div#homefeatured .slideDesc a.btn-mayecreate.center:visited {
    background: vars.$footer_background_color;
    color: vars.$footer_link_color;
    margin: 0 !important;
    padding: 10px 15px;
}
div#homefeatured .slideDesc a.btn-mayecreate.center:hover, div#homefeatured .slideDesc a.btn-mayecreate.center:active {
    color: vars.$footer_background_color;
    background: vars.$footer_link_color;
}
div#homefeatured .slideDesc .slideText {
    font-weight: 700;
}

/* MUIDSI SPECIFIC STYLES
=====================================  */
.people-container-row {
    display: block;
    text-align: center;
}
.people-container-long-row {
    display: block;
    text-align: center;
}
.people-container-long-row:after, .people-panel-long-pic:after, .people-panel-long-info:after {
    display: block;
    clear: both;
    width: 100%;
    height: 0;
    content: '';
}
.people-container-long-row strong {
    display: block;
}
#cookie-notice {
    background: vars.$pagebreak_background_color !important;
}
#cn-notice-text, #cookie-notice .cookie-notice-container {
	color:vars.$pagebreak_heading_color !important;
}
#cookie-notice .cn-button {
	color: vars.$button_color !important;
    background: vars.$button_background_color !important;
    display: inline-block !important;
    margin: 0 10px;
    padding: 5px 10px;
}
#cookie-notice .cn-button:hover {
	color:vars.$button_hover_color !important;
    background: vars.$button_hover_background_color !important;
}
.cn-close-icon:before, .cn-close-icon:after {
    background-color: vars.$pagebreak_heading_color !important;;
}

    /* Small devices (576px and up). This is anything labeled "sm" in bootstrap. */
    @media (min-width: 576px) {
        
    } 

        /* Medium devices (tablets, 768px and up). This is anything labeled "md" in bootstrap. */
		@media (min-width: 768px) {
            #navigation.affix #navbarTop {
                background: vars.$top_nav_background_color;
            }
            #navigation.affix #navbarBottom {
                border-bottom: 0 none;
                background: vars.$main_nav_background_color;
            }
            /* BACK TO THE TOP
			=========================================  */
			#back_top_the_top {
				position: fixed;
				right: 0;
				bottom: 20%;
				width: auto;
				display: block;
				z-index: 99999;
				transition: all 0.5s ease-in-out;
			}
			#back_top_the_top.affix-top {
				right:-400px;
			}
			#back_top_the_top.affix {
				right: -170px;
			}
			#back_top_the_top.affix:hover {
				right: 0px;
			}
			#back_top_the_top a:link, #back_top_the_top a:visited {
				font-size: 30px;
				font-size: 3rem;
				padding: 15px 15px 15px 90px;
				line-height: 35px;
				text-align: left;
				display: table;
				color: vars.$black;
				background: url(../img/top_scroll_bg.png) 2px center no-repeat vars.$additional_theme_color_1;
                background-size: contain; 
                opacity: .75;
			}
			#back_top_the_top a:hover, #back_top_the_top a:active {
				background: url(../img/top_scroll_bg.png) 2px center no-repeat vars.$secondary_color;
                background-size: contain;
				color: vars.$black;
                opacity: 1;
			}
            /* MUIDSI SPECIFIC STYLES
            ====================================== */
            .people-container-row {
                display: block;
                text-align: left;
            }
            .people-container-row:after, .people-panel-left:after, .people-panel-right:after {
                display: block;
                clear: both;
                width: 100%;
                height: 0;
                content: '';
            }
            .people-panel-left, .people-panel-right {
                margin-bottom: 35px;
            }
            .people-panel-pic {
                float: left;
                width: 135px;
            } 
            .people-panel-info {
                float: left;
                width: calc(100% - 150px);
                margin-left: 15px;
            }
            .people-panel-pic:after, .people-panel-info:after {
                display: block;
                clear: both;
                width: 100%;
                height: 0;
                content: '';
            }
            .people-panel-info a{
                text-decoration: none;
            }
            .people-panel-info p {
                white-space: nowrap;
                line-height: 1.0;
                margin-bottom: 7px;
            }
            .people-panel-info h3 {
                white-space: nowrap;
                margin-bottom: 7px;
            }
            .people-panel-info h5 {
                color: vars.$black;
                font-size: 15px;
                white-space: nowrap;
                line-height: 1.1;
                margin-bottom: 5px;
            }
        }

            /* Large devices (desktops, 992px and up). This is anything labeled "lg" in bootstrap. */
            @media (min-width: 992px) {
                h2, .h2 {
                    position: relative;
                    padding: 0 10%;
                    max-width: 1585px;
                    margin: 0 auto 20px auto;
                }
                h2:before, .h2:before {
                    content: '';
                    display: block;
                    width: 9%;
                    height: 2px;
                    background: vars.$additional_theme_color_1;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    overflow: hidden;
                }
                h2:after, .h2:after {
                    content: '';
                    display: block;
                    width: 9%;
                    height: 2px;
                    background: vars.$additional_theme_color_1;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    overflow: hidden;
                }                
                .blackbox h2:before, .blackbox h2:after {
                    display: none;
                }
                #footer_nav_top {
                    display: block;
                }
                #footer_nav_top ul {
                    display: block;
                    margin: 0;
                    padding: 0;
                    text-align: right;
                }
                #footer_nav_top ul li {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                }
                #footer_nav_top ul li a:link, #footer_nav_top ul li a:visited {
                    display: block;
                    color: vars.$footer_link_color;
                    padding: 10px;
                    margin: 0;
                    background: none;
                    text-transform: uppercase;
                    font-weight: 700; 
                }
                #footer_nav_top ul li a:hover, #footer_nav_top ul li a:active {
                    color: vars.$footer_link_hover_color;
                }
                ul.social {
                    text-align: left;
                }
                #footer_nav a:link, #footer_nav a:visited {
                    padding:5px 15px;
                    color: vars.$footer_background_color;
                    background: vars.$footer_link_hover_color;
                    text-transform: uppercase;
                }                
                #footer_nav a:hover, #footer_nav a:active, #footer_nav a:focus, #footer_nav>ul>li.active>a {
                    padding:5px 15px;
                    color: vars.$footer_link_color;
                    background: vars.$secondary_color;
                }
                #main_nav ul {
                    text-align: center;
                }
                #main_nav a:link, #main_nav a:visited {
                    text-transform: uppercase;
                    font-weight: 700;
                }
                #main_nav ul ul, #top_nav ul ul {
                    background: vars.$main_nav_background_color;
                    text-align: left;
                    width: 300px;
                }
                #top_nav a:link, #top_nav a:visited {
                    font-weight: 700;
                }
                #top_nav {
                    display: block;
                }
                #top_nav > ul > li > a > span:first-child {
                    display: none;
                }
                #top_nav a img {
                    margin-right: 10px;
                }
                #main_nav ul ul li a:link, #main_nav ul ul li a:visited, #navigation.affix #main_nav ul ul li a:link, #navigation.affix #main_nav ul ul li a:visited, #top_nav ul ul li a:link, #top_nav ul ul li a:visited, #navigation.affix #top_nav ul ul li a:link, #navigation.affix #top_nav ul ul li a:visited {
                    padding: 5px 15px;
                }
                /*WIDE MENU
                ============================ */
                .affix-top #top_nav > ul > .wide-drop > ul {
                    width: 100%;
                    max-width: 100%;
                    left: 0;
                    position: fixed;
                    padding: 45px 10%;
                    text-align: left;
                    vertical-align: top;
                }
                .affix-top #top_nav > ul > .wide-drop > ul:after {
                    display: block;
                    clear: both;
                    content: '';
                }
                .affix #top_nav > ul > .wide-drop > ul {
                    top: auto !important;
                    text-align: left;
                }
                .affix-top #top_nav > ul > .wide-drop > ul > li {
                    float: none;
                    display: inline-block;
                    width: calc(100% / 3 - 26px);
                    margin-right: 15px;
                    padding-right: 10px;
                    border-right: 0 none;
                    height: 100%;
                    text-align: left;
                    vertical-align: top;
                }
                .affix-top #top_nav > ul > .wide-drop > ul > li:last-child {
                    margin-right: 0;
                    padding-right: 0;
                    border: 0 none;
                    width: calc(100% / 3);
                }
                .affix-top #top_nav > ul > .wide-drop > ul > li a {
                    padding: 5px 10px;
                    margin-bottom: 0;
                    background: none;
                    text-transform: none;
                }
                .affix-top #top_nav > ul > .wide-drop > ul > li > a:hover, .affix-top #top_nav > ul > .wide-drop > ul > li > a:active {
                    background: vars.$main_nav_link_background_hover_color;
                    color: vars.$main_nav_link_hover_color;
                }
                .affix-top #top_nav > ul > .wide-drop > ul ul {
                    display: none !important;
                }
                /* PAGE ITEMS
                =============================  */
                .degree_search_title {
                    float: left;
                    width: 50%;
                    padding: 0;
                    text-align: left;
                }
                .degree_search_title:before, .degree_search_title:after {
                    display: none;
                }
                #search-filter-form-2936 .sf-field-search {
                    float: left;
                    width: 50%;
                    text-align: right;
                }
                #search-filter-form-2936 .sf-field-post-meta-program_type li, #search-filter-form-2936 .sf-field-post-meta-program_location li, #search-filter-form-2936 .sf-field-taxonomy-degreelocation li, ul.horizontal_list li, #search-filter-form-2936 .sf-field-taxonomy-degreecategory li {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 20px;
                    font-size: 20px;
                    font-size: 2.0rem;
                }
                #search-filter-form-2936 input[type=checkbox].sf-input-checkbox {
                    display: none;
                }
                #search-filter-form-2936 .sf-label-checkbox {
                    cursor: pointer;
                }
                #search-filter-form-2936 .sf-label-checkbox:before {
                    border-radius: 0px;
                    border:1px solid #000;
                    width: 21px;
                    height: 21px;
                    content: '';
                    display: inline-block;
                    margin-bottom: -4px;
                    margin-right: 10px;
                }
                #search-filter-form-2936 input[type=checkbox].sf-input-checkbox:checked + .sf-label-checkbox:before {
                    background: #666666;
                }
                #search-filter-form-2936 .sf-field-post-meta-program_location, #search-filter-form-2936 .sf-field-taxonomy-degreelocation, #search-filter-form-2936 .sf-field-taxonomy-degreecategory {
                    background: #F4F4F4;
                    padding: 15px 0;
                    position: relative;
                }
                #search-filter-form-2936 .sf-field-taxonomy-degreelocation:after, #search-filter-form-2936 .sf-field-taxonomy-degreecategory:after {
                    position: absolute;
                    left: -1170px;
                    top: 0;
                    width: 1170px;
                    background: #F4F4F4;
                    height: 100%;
                    content: '';
                }
                #search-filter-form-2936 .sf-field-taxonomy-degreelocation:before, #search-filter-form-2936 .sf-field-taxonomy-degreecategory:before {
                    position: absolute;
                    right: -1170px;
                    top: 0;
                    width: 1170px;
                    background: #F4F4F4;
                    height: 100%;
                    content: '';
                }
                #search-filter-form-2936 .sf-field-post-meta-program_location ul {
                    width: 98%;
                    max-width: 1170px;
                    margin: 0 auto;
                    display: block;
                }
                ul.horizontal_list li {
                    font-weight: 700;
                    margin: 0 20px 10px 0;
                }
                ul.horizontal_list.square_list {
                    margin: 0;
                    padding: 20px 0 10px 0;
                    display: block;
                    width: 100%;
                }
                ul.grey_bar.horizontal_list {
                    background: vars.$additional_theme_color_2;
                    position: relative;
                }
                ul.grey_bar.horizontal_list.last_bar {
                    margin-bottom: 25px;
                }
                ul.grey_bar.horizontal_list:after {
                    position: absolute;
                    left: -1170px;
                    top: 0;
                    width: 1170px;
                    background: vars.$additional_theme_color_2;
                    height: 100%;
                    content: '';
                }
                ul.grey_bar.horizontal_list:before {
                    position: absolute;
                    right: -1170px;
                    top: 0;
                    width: 1170px;
                    background: vars.$additional_theme_color_2;
                    height: 100%;
                    content: '';
                }
                .related_dgs_wrapper {
                    float: right;
                    width: 30%;
                    margin: 0 0 25px 25px;
                }
                /* HOME SLIDER
                ==========================================  */
                
                div#homefeatured {
                    position: relative;
                }
                #home_buttons {
                    display: block;
                    position: absolute;
                    bottom: 20px;
                    right:0;
                    z-index: 5;
                }
                #slider_menu ul {
                    margin: 0;
                    padding: 0;
                    text-align: right;
                }
                #slider_menu ul li {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: block;
                }
                #slider_menu ul li a span:first-child {
                    display: none;
                }
                #slider_menu ul li a img {
                    margin-right: 5px;
                }
                #slider_menu ul li a:link, #slider_menu ul li a:visited {
                    padding: 15px;
                    background: vars.$button_background_color;
                    color: vars.$button_color;
                    display: inline-block;
                    text-transform: uppercase;
                    margin-top: 10px;
                    font-weight: 600;
                }
                #slider_menu ul li a:hover, #slider_menu ul li a:active {
                    background: vars.$button_hover_background_color;
                    color: vars.$button_hover_color;
                }
            }

                /* Larger-er devices (desktops, 1024px and up). This is NOT a breakpoint in bootstrap. */
                @media (min-width: 1024px) {
                    .searchandfilter ul {
                        display: block;
                        text-align: center;
                    }
                    .searchandfilter ul li {
                        display: inline-block;
                        vertical-align: top;
                    }
                    .searchandfilter ul li {
                        margin-left: 15px;
                    }
                }

                    /* Xtra-Large devices (desktops, 1200px and up). This is anything labeled "xl" in bootstrap. */
                    @media (min-width: 1200px) {
                        .pagebreak_left_img, .pagebreak_right_img {
                            width: 50%;
                        }
                        .pagebreak_left_content, .pagebreak_right_content {
                            width: 50%;
                        }
                        /* MUIDSI SPECIFIC STYLES
                        ====================================== */
                        .people-panel-left, .people-panel-right {
                            float: left;
                           width: 50%;
                           padding-right: 20px; 
                       }
               
                       .people-container-long-row strong {
                           display: inline-block;
                       }
                    }

                        /* Xtra-Xtra-Large devices (desktops, 1400px and up). This is anything labeled "xxl" in bootstrap. */
                        @media (min-width: 1400px) {

                        }

                            /* Specialized Xtra-Xtra-Xtra-Large devices (desktops, 1550px and up). This is NOT a breakpoint in bootstrap. */
                            @media (min-width: 1500px) {

                            }

                                /* Specialized Xtra-Xtra-Xtra-Xtra-Large devices (desktops, 1700px and up). This is NOT a breakpoint in bootstrap. */
                                @media (min-width: 1700px) {

                                }